header{
    width: 100%;
    height: 175px;
    border: 1px solid #bcbcbc;
    background-image: url( "https://assets.nflxext.com/ffe/siteui/vlv3/f1c3c4eb-2fea-42c7-9ebd-1c093bd8a69d/ff63791f-dfc2-4f3a-ac8a-4a8677387a0b/KR-ko-20230403-popsignuptwoweeks-perspective_alpha_website_large.jpg" );
    background-repeat: repeat-x;
}
