<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="loginJoin" th:fragment="bodyHeader">
    <button type="button" th:onclick="|location.href='@{/member/login}'|"  method="post" th:text="로그인">Login</button>
    <button type="button" th:onclick="|location.href='@{/member/add}'|"  method="post" th:text="회원가입">Join</button>
</div>

<main id="main">
    <div calss="container">
        <h4>Welcome</h4>
        <h2>This is a <span>Movie Community</span></h2>
        <p>Feel free to share your opinions</p>
        <button class="download">DOWNLOAD CV</button>
        <button class="mouse"><i class="fa-solid fa-computer-mouse"></i></button>
    </div>
</main>

